*{scroll-behavior: smooth;font-family:regular}
@font-face {
font-family: 'regular';
src: url("../fonts/sen/regular.ttf");
}
body {
background: #070a11;
color: white;
}
.page {
padding: 2pt 15pt;
}
.list {
background: #131b2d;
padding: 10pt;
border-radius: 10pt;
margin-bottom: 10pt;
color: white;
text-decoration: none;
display: flex;
align-items: center;
transition: all 0.15s ease 0s;
-webkit-transition: all 0.15s ease 0s;
}
.list:hover {
background: #151f36;
transition: all 0.15s ease 0s;
}
#container {
display: flex;
width: 100%;
flex-direction: column;
justify-content: flex-start;
align-content: flex-start;
flex-wrap: nowrap;
align-items: stretch;
transition: all 0.25s ease 0s;
-webkit-transition: all 0.25s ease 0s;
}
a>img {
height: 30pt;
margin-right: 10pt;
border-radius: 5pt;
transition: all 0.1s ease 0s;
-webkit-transition: all 0.1s ease 0s;
}
a:hover>img {
transform: scale(1.1);
transition: all 0.1s ease 0s;
-webkit-transition: all 0.1s ease 0s;
}
#back {
z-index: 512;
background: #46193f;
position: fixed;
right: 0;
top: 0;
margin: 20pt;
font-size: 15pt;
padding: 7pt 20pt;
border-radius: 10pt;
transition: all 0.15s ease 0s;
-webkit-transition: all 0.15s ease 0s;
border: none;
color: white;
}
#back:hover {
background: #5d1852;
transition: all 0.15s ease 0s;
-webkit-transition: all 0.15s ease 0s;
}
.credit {
top: -10pt;
position: relative;
margin: 5pt 1pt;
}
a:not(.list){
color: #3eb3ff;
}
