:root {
    --tileset01: url(../tileset/tileset01.png);
    --mainbg: #555;
    --maintxt: #fff;
    --tilebg: #4c4c4c;
    --tilegrid: #d8d8d8 /*#8d8d8d*/;
    --tileblank: #00000000;
    --header: #444;
    --toolbarbg: #3c3c3c;
}